<main class="hero is-fullheight is-align-items-center is-justify-content-center">
    <div class="column is-half">
        <div id="login-errors" class="mb-3"></div>
        <h1 class="title">Login</h1>
        <h2 class="subtitle">Enter your login details</h2>
        <form id="login-form">
            <div class="field">
                <label for="login-email" class="label">Email</label>
                <p class="control">
                    <input id="login-email" class="input" name="email" type="email" placeholder="Email">
                </p>
                <p class="help">Enter your email here</p>
            </div>
            <div class="field">
                <label for="login-password" class="label">Password</label>
                <p class="control">
                    <input id="login-password" class="input" name="password" type="password" placeholder="Password">
                </p>
                <p class="help">Enter your password here</p>
            </div>
            <div class="field">
                <p>
                    Don't have an account? <a href="/ui/register">Register here</a>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button id="login-submit" class="button is-success" type="submit">
                        Login
                    </button>
                </p>
            </div>
        </form>
    </div>
</main>
<script>
    const loginForm = document.getElementById('login-form');
    const loginSubmit = document.getElementById('login-submit');

    function clearPassword() {
        const passwordInput = document.getElementById('login-password');
        passwordInput.value = '';
    }

    function loginFailed(message='Login failed...') {
        const loginErrors = document.getElementById('login-errors');
        loginErrors.innerHTML = `
        <div class="notification is-danger">
          ${message}
        </div>`;
    }

    function clearErrors() {
        const loginErrors = document.getElementById('login-errors');
        loginErrors.innerHTML = '';
    }

    loginForm.addEventListener('submit', async (e) => {
        e.preventDefault();
        clearErrors();
        const formData = new FormData(loginForm);
        const email = formData.get('email');
        const password = formData.get('password');
        const response = await fetch('{{LoginApi}}', {
            method: 'POST',
            credentials: 'include',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                email,
                password
            })
        });
        const data = await response.json();

        if (response.status !== 202) {
            loginFailed();
            clearPassword();
            return;
        }

        window.location.href = data.redirect;
    });
</script>