<main class="container">
    <h1 class="title">Hello. Welcome,</h1>
    <p class="mb-3">{{Email}}</p>
    <button id="logout-button" class="button is-link">Logout</button>
</main>

<script>
    const button = document.getElementById('logout-button')
    button.addEventListener('click', () => {
        fetch("{{LogoutApi}}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(() => {
            window.location.href = "{{LoginUI}}";
        });
    });
</script>