<main class="hero is-fullheight is-align-items-center is-justify-content-center">
    <div class="column is-half">
        <div id="register-errors" class="mb-3"></div>
        <h1 class="title">Register</h1>
        <h2 class="subtitle">Enter your details</h2>
        <form id="register-form">
            <div class="field">
                <label for="register-email" class="label">Email</label>
                <p class="control">
                    <input id="register-email" class="input" name="email" type="email" placeholder="Email">
                </p>
                <p class="help">Enter your email here</p>
            </div>
            <div class="field">
                <label for="register-password" class="label">Password</label>
                <p class="control">
                    <input id="register-password" class="input" name="password" type="password" placeholder="Password">
                </p>
                <p class="help">Enter your password here</p>
            </div>
            <div class="field">
                <label for="register-confirm-password" class="label">Confirm Password</label>
                <p class="control">
                    <input id="register-confirm-password" class="input" name="confirm-password" type="password"
                           placeholder="Confirm Password">
                </p>
                <p class="help">Confirm your password here</p>
            </div>
            <div class="field">
                <p>
                    Don't have an account? <a href="/ui/login">Login here</a>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button id="register-submit" class="button is-success" type="submit">
                        Register
                    </button>
                </p>
            </div>
        </form>
    </div>
</main>
<script>
    const registerForm = document.querySelector('#register-form');
    const submit = document.querySelector('#register-submit');

    function clearPassword() {
        const passwordInput = document.getElementById('register-password');
        passwordInput.value = '';

        const confirmPasswordInput = document.getElementById('register-confirm-password');
        confirmPasswordInput.value = '';
    }

    function registerFailed(message) {
        const loginErrors = document.getElementById('register-errors');
        loginErrors.innerHTML = `
        <div class="notification is-danger">
          ${message}
        </div>`;
    }

    function clearErrors() {
        const errors = document.getElementById('register-errors');
        errors.innerHTML = '';
    }

    registerForm.addEventListener('submit', async (e) => {
        e.preventDefault();

        const formData = new FormData(registerForm);
        const email = formData.get('email');
        const password = formData.get('password');
        const confirmPassword = formData.get('confirm-password');

        if (password !== confirmPassword) {
            registerFailed('Passwords do not match...');
            return;
        }

        const response = await fetch('{{RegisterApi}}', {
            method: 'POST',
            credentials: 'include',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                email,
                password
            })
        });

        const data = await response.json();
        if (response.status !== 201) {
            registerFailed(data.error || 'Registration failed...');
            clearPassword();
            return;
        }

        window.location.href = data.redirect;
    });
</script>